---
# Default settings for all vms (they can be overridden on each node)
vm:
  memory: 1024                 # MB or RAM to assign
  cpu: 1                       # Number of vCPU to assign to the VM
  box: centos7                 # Box used for the VM, from the box list in vagrant/boxes.yaml
  puppet_apply: false          # Run puppet apply on the local control-repo during provisioning
  puppet_agent: true           # Run puppet agent during provisioning
  facter_external_facts: true # Create external facts in facts.d/$fact.txt. Note 1
  facter_trusted_facts: true   # Create csr_attributes.yaml. Note 1
  synced_folder_type: vboxfs   # Sync folders types: nfs, vboxfs

# Note 1: Some facts are used in default hiera.yaml and needed for
# nodes classification. So it's better to set them, once.
# If you enable both external and trusted facts and keep the
# default manifests/site.pp you'll have a variable declaration error

# A local network is created among the VM. Here is configured.
network:
  range: 10.42.43.0/24   # Network address and mask to use
  ip_start_offset: 201   # Starting ip in the network for automatic assignement
  domain: lab.psick.io   # Name of DNS domain for the created machines

# Puppet related settings
puppet:
  version: latest             # Version to use for OSS
  install_oss: false          # If to install Puppet OSS agent on the VMS
  install_pe: true            # If to install Puppet Enterprise agent on the VMS
  env: lab                    # Setting for the env fact (may be used in hiera.yaml)
  zone: lab                   # Setting for the zone fact (may be used in hiera.yaml)
  datacenter: hetzner         # Setting for the datacenter fact (may be used in hiera.yaml)
  application: puppet         # Setting for the application fact (may be used in hiera.yaml)
  master_vm:  puppet.lab.psick.io    # Name of the VM which play as Puppet server for the others
  master_fqdn: 'puppet.lab.psick.io' # FQDN of the Puppet server to use with puppet agent
  master_ip: '10.42.43.101'          # IP of the Puppet server to use with puppet agent
  link_controlrepo: false     # Add a link for a Puppet environment to the development control-repo
  environment: host           # Puppet environment to link to local control-repo

# Puppet Enterprise settings
  pe_version: '2019.5.0'         # Version of PE to install on the puppet server. See Note 2
  pe_download_root: 'https://s3.amazonaws.com/pe-builds/released/2019.5.0' # Download base url. See Note 2
  pe_verbose: true               # If to show PE installation output
  pe_relocate_manifests: false   # If to relocate manifests and module dir. Not needed in this setup.

#  Note 2: when changing the version, change also the download_root unless you have a
#  custom one. For locally downloaded files, for example, you can place something like:
#  pe_download_root: 'file:///Users/al/Downloads'

# Vagrant settings
vagrant:
  # Update host's /etc/hosts if you have the hostmanager plugin.
  # Needed for automatic decommissioning of nodes. If false, you've to manage
  # manually ssl certs removal of reinstalled nodes.
  hostmanager.enable: true # If to enable hostmanager plugin
  hostmanager.manage_host: false # If to manage also the main host's hosts
#  multi_user: true

# List of nodes shown in vagrant status
# Node names are based on the defined role. Here can be overridden vm defaults,
# it can be enforced a defined host name, added alieses, port forwarding and pe_role
nodes:
  - role: puppet
    pe_role: master
    memory: 6192
    cpu: 4
    aliases:
      - puppet
    forwarded_port:
      guest: 443
      host: 1443
    forwarded_port2:
      guest: 8140
      host: 58140
    ip_address: 10.42.43.101
  - role: puppet
    pe_role: master
    hostname_base: puppetre
    memory: 6192
    cpu: 2
    aliases:
      - puppetre
  - role: puppetcd
    ip_address: 10.42.43.110
    memory: 4096
    cpu: 2
    forwarded_port:
      guest: 8080
      host: 1488
    forwarded_port2:
      guest: 8443
      host: 1490
  - role: puppetcdre
    ip_address: 10.42.43.109
    memory: 4096
    cpu: 2
    forwarded_port:
      guest: 8080
      host: 1688
    forwarded_port2:
      guest: 8443
      host: 1690
  - role: git
    cpu: 2
    memory: 3072
    forwarded_port:
      guest: 443
      host: 1444
    forwarded_port2:
      guest: 80
      host: 1480
    puppet_agent: false
    ip_address: 10.42.43.102
  - role: cirunner
    count: 1
  - role: rundeck
    count: 1
    memory: 2048
    cpu: 1
    box: centos7
    forwarded_port:
      guest: 4440
      host: 1446
  - role: build
    count: 1
    puppet_apply: true
  - role: docker
    memory: 2048
    count: 2
  - role: aws
    count: 1
    puppet_apply: true
  - role: icinga
    memory: 2048
    count: 1
    box: centos7
    forwarded_port:
      guest: 80
      host: 1447
  - role: sensu
    memory: 2048
    count: 1
    box: centos7
    forwarded_port:
      guest: 3000
      host: 1449
  - role: rabbitmq
    count: 1
    box: centos7
    forwarded_port:
      guest: 15672
      host: 1441
  - role: log
    memory: 4096
    count: 1
    box: centos8
  - role: vpn
    count: 1
  - role: grafana
    count: 1
    box: centos7
    forwarded_port:
      guest: 3000
      host: 1442
  - role: lamp
    count: 1
    memory: 1024
    cpu: 1
    box: centos7
    forwarded_port:
      guest: 80
      host: 14480
  - role: jenkins
    memory: 4096
    cpu: 2
    box: ubuntu1604
    forwarded_port:
      guest: 8080
      host: 14481
  - role: ostest
    hostname_base: ostest-suse12
    fqdn: ostest-suse12.lab.psick.io
    count: 1
    box: suse12
  - role: ostest
    hostname_base: ostest-opensuse
    fqdn: ostest-opensuse.lab.psick.io
    count: 1
    box: opensuse_tumbleweed
  - role: ostest
    hostname_base: ostest-suse11
    box: suse11
  - role: ostest
    hostname_base: ostest-ubuntu2004
    box: ubuntu2004
  - role: ostest
    hostname_base: ostest-ubuntu1804
    box: ubuntu1804
  - role: ostest
    hostname_base: ostest-ubuntu1604
    box: ubuntu1604
  - role: ostest
    hostname_base: ostest-ubuntu1404
    box: ubuntu1404
  - role: ostest
    hostname_base: ostest-debian9
    box: debian9
  - role: ostest
    hostname_base: ostest-alpine310
    box: alpine310
  - role: ostest
    hostname_base: ostest-windows2012
    puppet_apply: true
    fqdn: ostest-windows2012-lab-psick-io
    box: windows2012
    forwarded_port:
      guest: 3389
      host: 33895
  - role: ostest
    hostname_base: ostest-windows2016
    puppet_apply: true
    fqdn: ostest-windows2016-lab-psick-io
    box: windows2016
    forwarded_port:
      guest: 3389
      host: 33896
  - role: ostest
    hostname_base: ostest-solaris11
    box: solaris11
  - role: ostest
    hostname_base: ostest-freebsd12
    box: freebsd12
  - role: ostest
    hostname_base: ostest-amazon201703
    box: amazon201703
    puppet_apply: true
    install_oss: true
    install_pe: false
