/.rvmrc
build
pkg/
Session.vim
spec/fixtures
.*.sw[a-z]
*.un~
.DS_Store
.bundle
modules/
.vagrant/
.pe_build
/keys/private_key.pkcs7.pem
*.pyc
vagrant/environments/ostest/ubuntu-xenial-16.04-cloudimg-console.log
