# GitLab CI configuration
# Example for a complete Puppet deployment workflow
# with separated pipelines for development, testing and production
# braches. Requires a fully configured PE-GitLab-CI runners
# environment to work.
#
stages:
  - danger
  - checks
  - version_check
  - specs
  - diffs
  - sitedoc
  - pdf
  - integration
  - live_runs
  - merge_request
  - promote
  - rollout
  - postcheck

variables:
  DANGER_GITLAB_HOST: "git.lab.psick.io"
  DANGER_GITLAB_API_BASE_URL: "https://git.lab.psick.io/api/v4"

# Run Danger based on Dangerfile rules
run_danger:
  stage: danger
  before_script: export CI_MERGE_REQUEST_ID=$(git ls-remote -q origin merge-requests\*\head | grep $CI_COMMIT_SHA | sed 's/.*refs\/merge-requests\/\([0-9]*\)\/head/\1/g')
  script: danger --verbose
  tags:
    - test_puppet
  allow_failure: true
  except:
    - testing
    - production
  only:
    - branches

# Version Deploy check for every branch with environment creation
# It will try by default 6 times with 10 second between each try
# so that Puppet has time to get the new version of the repository
verify_code_deploy:
  stage: version_check
  script: "bin/codemanager_check_deploy.sh ${CI_BUILD_REF_NAME}"
  tags:
    - deploy_puppet
  when: on_success
  allow_failure: true
  environment:
    name: ${CI_BUILD_REF_NAME}
    url: https://puppet.lab.psick.io/

# Run Syntax Checks on Feature/Personal Branch
# and Development branch:
# All branches excluded production and testing
syntax:
  stage: checks
  before_script:
    - "bin/gitlab_before.sh"
  script: "bin/puppet_check_syntax_fast.sh"
  cache:
    untracked: true
    paths:
    - modules/
  tags:
    - test_puppet
  except:
    - testing
    - production
  only:
    - branches

# Run Syntax Checks on Feature/Personal Branch
# and Development branch:
# All branches exluded production and testing
lint:
  stage: checks
  before_script:
    - "bin/gitlab_before.sh"
  script: "bin/puppet_lint.sh"
  cache:
    untracked: true
    paths:
    - modules/
  tags:
    - test_puppet
  except:
    - testing
    - production
  only:
    - branches
  allow_failure: true

rake_site:
  stage: specs
  before_script:
    - "bin/gitlab_before.sh"
  script: "bin/puppet_check_rake.sh site bundle"
  cache:
    untracked: true
    paths:
    - modules/
    - vagrant/environments/ci/.vagrant/
  tags:
    - test_puppet
  only:
    - development
  allow_failure: true

rake_modules:
  stage: specs
  before_script:
    - "bin/gitlab_before.sh"
  script: "bin/puppet_check_rake.sh modules bundle"
  cache:
    untracked: true
    paths:
    - modules/
    - vagrant/environments/ci/.vagrant/
  tags:
    - test_puppet
  only:
    - development
  allow_failure: true

catalog_diff:
  stage: diffs
  before_script:
    - "bin/gitlab_before.sh"
  script: "bin/gitlab_catalog_diff.sh development"
  cache:
    untracked: true
    paths:
    - modules/
  tags:
    - deploy_puppet
  only:
    - development
  allow_failure: true

catalog_preview:
  stage: diffs
  before_script:
    - "bin/gitlab_before.sh"
  script: "bin/gitlab_catalog_preview.sh development"
  cache:
    untracked: true
    paths:
    - modules/
  tags:
    - deploy_puppet
  only:
    - development
  allow_failure: true

# Can be duplicated to use different images (using different --image)
# or with custom facts --facts. Check docker_run.sh for all the options.
docker_test:
  stage: integration
  before_script:
    - "bin/gitlab_before.sh"
  script: "bin/docker_run.sh --image centos-7"
  cache:
    untracked: true
    paths:
    - modules/
  allow_failure: true
  tags:
    - test_puppet
  only:
    - development

# Destroy a vagrant machine completely.
vagrant_destroy:
  stage: integration
  before_script:
    - "bin/gitlab_before.sh"
  script: "bin/vagrant_node_test.sh centos7.ci ci destroy"
  cache:
    untracked: true
    paths:
    - modules/
    - tests/
  allow_failure: true
  tags:
    - test_puppet
  only:
    - development
  when: manual


# Do Vagrant run. Start the machine, run the tests, halt the machine.
# This will use a .vagrant dir under $HOME of the users so that 
# it will not be deleted accidentally  by gitlab-runner
vagrant_checks:
  stage: integration
  before_script:
    - "bin/gitlab_before.sh"
  script:
    - "bin/vagrant_node_test.sh centos7.ci ci setup"
    - "bin/vagrant_node_test.sh centos7.ci ci drift"
  after_script:
    - "bin/gitlab_after.sh"
    - "bin/vagrant_node_test.sh centos7.ci ci halt"
  cache:
    untracked: true
    paths:
    - modules/
    - tests/
  allow_failure: true
  tags:
    - test_puppet
  only:
    - development
  when: manual

tp_test:
  stage: integration
  before_script:
    - "bin/gitlab_before.sh"
  script: "bin/gitlab_tp_test.sh development"
  cache:
    untracked: true
    paths:
    - modules/
    - tests/
  tags:
    - test_puppet
  only:
    - development
  allow_failure: true

# Development to testing merge request creation
merge_request_testing:
  stage: merge_request
  script: "bin/gitlab_create_merge_request.rb development testing"
  tags:
    - deploy_puppet
  only:
    - development

# Automatic Accept merge request from Development to testing 
merge_accept_testing:
  stage: promote
  script: "bin/gitlab_accept_merge_request.rb development testing"
  only:
    - development
  tags:
    - deploy_puppet
  when: on_success
  allow_failure: true

# On testing branch
run_puppet_on_testing:
  stage: live_runs
  before_script:
    # Trigger remote Puppet runs via puppet job
    - "bin/puppet_job_run.sh testing"
    # Trigger remote Puppet runs via Rundeck
#    - "bin/rundeck_job_run.sh testing"
  script:
    - "bin/puppetdb_env_query.sh testing"
  tags:
    - deploy_puppet
  when: on_success
  only:
    - testing
  allow_failure: true

# Allow Merge Request to fail as it can happen that there's
# already a merge request from testing to production ready to
# be merged
merge_request_production:
  stage: merge_request
  script:
    - "bin/gitlab_create_merge_request.rb testing production"
  when: on_success
  tags:
    - deploy_puppet
  only:
    - testing
  allow_failure: true

merge_accept_production:
  stage: promote
  script: "bin/gitlab_accept_merge_request.rb testing production"
  tags:
    - deploy_puppet
  when: manual
  only:
    - testing
  environment:
    name: production

# Production
canary_run_on_production:
  stage: live_runs
  before_script:
    - "bin/puppet_job_run.sh production"
  script: "bin/puppetdb_env_query.sh production"
  tags:
    - deploy_puppet
  when: on_success
  only:
    - production
  allow_failure: true # TOREMOVE when fixed

run_puppet_on_production:
  stage: rollout
  before_script:
    - "bin/puppet_job_run.sh production"
  script: "bin/puppetdb_env_query.sh production"
  tags:
    - deploy_puppet
  when: on_success
  only:
    - production
  allow_failure: true # TOREMOVE when fixed


test_post_run_on_production:
  stage: postcheck
  script: "bin/puppetdb_env_query.sh production"
  tags:
    - deploy_puppet
  only:
    - production
  allow_failure: true # TOREMOVE when fixed

pages:
  stage: sitedoc
  before_script:
    - rm -rf doc public .yardoc README.md
    - bin/docs_classlistgenerate.sh site/profile docs/classes.md
    - for f in $(cat docs/toc.txt); do cat docs/$f >> README.md ; echo >> README.md ; done 
  script:
    - puppet strings generate site/**/**/*{.pp\,.rb} site/**/**/**/*{.pp\,.rb} manifests/site.pp
    # - rake strings:generate["site/**/**/*{.pp\,.rb} site/**/**/**/*{.pp\,.rb} manifests/site.pp, false, false, markdown,-r docs/PsickGuide.md"]
    - mv doc public
  tags:
    - deploy_puppet
  artifacts:
    paths:
    - public
    expire_in: '30 day'
  only:
    - production

pages_modules:
  stage: sitedoc
  before_script:
    - bin/gitlab_before.sh
    - rm -f README.md
    - bin/docs_classlistgenerate.sh modules docs/classes_modules.md
    - for f in $(cat docs/toc-modules.txt); do cat docs/$f >> README.md ; done 
  script:
    - puppet strings generate modules/**/**/*{.pp\,.rb} modules/**/**/**/*{.pp\,.rb}
    # - rake strings:generate["modules/**/**/*{.pp\,.rb} modules/**/**/**/*{.pp\,.rb}, false, false, markdown,-r docs/PsickGuide.md"]
    - mv doc public/modules
  tags:
    - deploy_puppet
  artifacts:
    paths:
    - public
    expire_in: '30 day'
  when: manual

generate_pdf:
  stage: pdf
generate_pdf:
  stage: pdf
  before_script:
    - bin/docs_classlistgenerate.sh docs/classes.md
    - for f in $(cat docs/toc.txt); do cat docs/$f >> public/PsickGuide.md ; done 
  script:
    - docker run -v $(pwd):/puppet -i jagregory/pandoc -f markdown /puppet/public/PsickGuide.md -o /puppet/public/PsickGuide.pdf --latex-engine=xelatex -s  --toc -V geometry:margin=2cm
  tags:
    - test_puppet
  artifacts:
    paths:
    - public
    expire_in: '30 day'
  only:
    - production
