/.rvmrc
build
pkg/
Session.vim
spec/fixtures
.*.sw[a-z]
*.un~
*.rpmsave
.DS_Store
.bundle
modules/
/keys/private_key.pkcs7.pem
*.pyc
*Gemfile.lock

# Vagrant artifacts
vagrant/environments/*/ubuntu-xenial-16.04-cloudimg-console.log
.vagrant/
.pe_build
tests/
