[submodule "puppi"]
	path = puppi
	url = https://github.com/example42/puppi.git
[submodule "tomcat"]
	path = tomcat
	url = https://github.com/example42/puppet-tomcat.git
[submodule "iptables"]
	path = iptables
	url = https://github.com/example42/puppet-iptables
[submodule "foo"]
	path = foo
	url = https://github.com/example42/puppet-foo
[submodule "mysql"]
	path = mysql
	url = https://github.com/example42/puppet-mysql
[submodule "apache"]
	path = apache
	url = https://github.com/example42/puppet-apache.git
[submodule "nrpe"]
	path = nrpe
	url = https://github.com/example42/puppet-nrpe
[submodule "puppet"]
	path = puppet
	url = https://github.com/example42/puppet-puppet
[submodule "jboss"]
	path = jboss
	url = https://github.com/example42/puppet-jboss.git
[submodule "resolver"]
	path = resolver
	url = https://github.com/example42/puppet-resolver.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/example42/puppet-postgresql.git
[submodule "wget"]
	path = wget
	url = https://github.com/example42/puppet-wget.git
[submodule "puppetdb"]
	path = puppetdb
	url = https://github.com/example42/puppet-puppetdb
[submodule "sudo"]
	path = sudo
	url = https://github.com/example42/puppet-sudo
[submodule "php"]
	path = php
	url = https://github.com/example42/puppet-php
[submodule "postfix"]
	path = postfix
	url = https://github.com/example42/puppet-postfix
[submodule "yum"]
	path = yum
	url = https://github.com/example42/puppet-yum
[submodule "java"]
	path = java
	url = https://github.com/example42/puppet-java
[submodule "activemq"]
	path = activemq
	url = https://github.com/example42/puppet-activemq
[submodule "rclocal"]
	path = rclocal
	url = https://github.com/example42/puppet-rclocal
[submodule "user"]
	path = user
	url = https://github.com/example42/puppet-user
[submodule "apt"]
	path = apt
	url = https://github.com/example42/puppet-apt
[submodule "logrotate"]
	path = logrotate
	url = https://github.com/example42/puppet-logrotate
[submodule "autofs"]
	path = autofs
	url = https://github.com/example42/puppet-autofs
[submodule "sysctl"]
	path = sysctl
	url = https://github.com/example42/puppet-sysctl
[submodule "timezone"]
	path = timezone
	url = https://github.com/example42/puppet-timezone
[submodule "hosts"]
	path = hosts
	url = https://github.com/example42/puppet-hosts.git
[submodule "svn"]
	path = svn
	url = https://github.com/example42/puppet-svn.git
[submodule "perl"]
	path = perl
	url = https://github.com/example42/puppet-perl.git
[submodule "git"]
	path = git
	url = https://github.com/example42/puppet-git
[submodule "profile"]
	path = profile
	url = https://github.com/example42/puppet-profile
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "concat"]
	path = concat
	url = https://github.com/puppetlabs/puppetlabs-concat
[submodule "mariadb"]
	path = mariadb
	url = https://github.com/example42/puppet-mariadb
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/example42/puppetlabs-rabbitmq
[submodule "network"]
	path = network
	url = https://github.com/example42/puppet-network
[submodule "limits"]
	path = limits
	url = https://github.com/example42/puppet-limits
[submodule "sysstat"]
	path = sysstat
	url = https://github.com/bmcclure/puppet-sysstat.git
[submodule "vcsrepo"]
	path = vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "tp"]
	path = tp
	url = https://github.com/example42/puppet-tp.git
[submodule "tinydata"]
	path = tinydata
	url = https://github.com/example42/tinydata.git
