.git/
.*.sw[op]
.metadata
.yardoc
.yardwarns
*.iml
/.bundle/
.idea/
.vagrant/
.onceover/
.pe_build/
/coverage/
/bin/
/doc/
/Gemfile.local
/Gemfile.lock
/junit/
/log/
/pkg/
/spec/fixtures/manifests/
/spec/fixtures/modules/
/tmp/
/vendor/
/convert_report.txt
/update_report.txt
.DS_Store
/modules/
ubuntu-xenial-16.04-cloudimg-console.log
.onceover
