---
sudo: false
language: ruby
cache: bundler
script: "bin/travis_check.sh"
before_install:
  - gem update bundler
  - gem install r10k
  - r10k puppetfile install -v
matrix:
  fast_finish: true
  include:
  - rvm: 2.3.1
    bundler_args: --without system_tests
    env: PUPPET_GEM_VERSION="~> 4.0" STDLIB_LOG_DEPRECATIONS="false"
  - rvm: 2.1.9
    bundler_args: --without system_tests
    env: PUPPET_GEM_VERSION="~> 4.0" STDLIB_LOG_DEPRECATIONS="false"
  - rvm: 2.4.1
    bundler_args: --without system_tests
    env: PUPPET_GEM_VERSION="~> 5.0" STDLIB_LOG_DEPRECATIONS="false"
notifications:
  email: false
