# Sample role data used in the Vagrant OS test environment
# under vagrant/environments/ostest/
# Useful for testingi a set of profiles on different OS
# Here is a sample ostest.yaml file content.
# Alternatively we use symlinks to test an existing role on
# different Operting Systems.
#
#
---
# Use ::psick::ostest for testing Puppet code
# Add profiles to the list below to test whole profiles

psick::profiles::linux_classes:
  - '::psick::ostest'

# For quicker tests we don't want to include all the
# base psick classes which are by default added to 
# all the roles.
psick::base::manage: false
